.fixed-headers-container {
	position: relative;
	overflow-y: hidden;
}

.fixed-headers-container .clone {
	position: absolute;
	margin-top: 0;
	overflow: hidden;
	background-color: #FFFFFF
}

.fixed-headers-container .corner_clone {
	z-index: 1000;
}

.fixed-headers-container .vert_clone, .fixed-headers-container .hori_clone {
	z-index: 0;
}
