table.tablesorter tr:hover > th[data-sorter=false] {
    background-image: initial !important; /* clear background image for turned off tablesorter */
}

table.confluenceTable.tableenhancer.tableenhancer-rownums-onceBeforeSorting tr > td.confluenceTd:first-child, table.confluenceTable.tableenhancer.tableenhancer-rownums-independentFromSorting tr > td.confluenceTd:first-child, table.confluenceTable.tableenhancer.tableenhancer-rownums-onceAfterSorting tr > td.confluenceTd:first-child {
    font-weight: bold;
}

table.confluenceTable.tableenhancer > tfoot > tr > td.confluenceTd {
    font-weight: bold;
    text-align:  right;
}
