<div class="table-wrap">
    <table class="confluenceTable">
        <tbody>
            <tr>
                <th id="1/1" class="confluenceTh highlight-blue" data-highlight-colour="blue">str</th>
                <th id="1/2" class="confluenceTh highlight-blue" data-highlight-colour="blue">int</th>
                <th id="1/3" class="confluenceTh highlight-blue" data-highlight-colour="blue">float</th>
            </tr>
            <tr>
                <td id="2/1" class="confluenceTd highlight-green" data-highlight-colour="green">one</td>
                <td id="2/2" class="confluenceTd highlight-yellow" data-highlight-colour="yellow">1</td>
                <td id="2/3" class="confluenceTd highlight-red" data-highlight-colour="red">1.01</td>
            </tr>
        </tbody>
    </table>
</div>