<div class="table-wrap">
    <table class="confluenceTable">
        <tbody>
            <tr>
                <th class="confluenceTh">i1</th>
                <th class="confluenceTh">i2</th>
            </tr>
            <tr>
                <td class="confluenceTd">1</td>
                <td class="confluenceTd">2</td>
            </tr>
            <tr>
                <td class="confluenceTd">3</td>
                <td class="confluenceTd">4</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table-wrap">
    <table class="confluenceTable">
        <tbody>
            <tr>
                <th class="confluenceTh">i3</th>
                <th class="confluenceTh">i4</th>
            </tr>
            <tr>
                <td class="confluenceTd">5</td>
                <td class="confluenceTd">6</td>
            </tr>
            <tr>
                <td class="confluenceTd">7</td>
                <td class="confluenceTd">8</td>
            </tr>
            <tr>
                <td class="confluenceTd">9</td>
                <td class="confluenceTd">10</td>
            </tr>
        </tbody>
    </table>
</div>