<div class="table-wrap">
    <table class="confluenceTable">
        <tbody>
            <tr>
                <th class="confluenceTh">4.04</th>
                <td class="confluenceTd">4</td>
            </tr>
            <tr>
                <th class="confluenceTh">3.03</th>
                <td class="confluenceTd">3</td>
            </tr>
            <tr>
                <th class="confluenceTh">2.02</th>
                <td class="confluenceTd">2</td>
            </tr>
            <tr>
                <th class="confluenceTh">1.01</th>
                <td class="confluenceTd">1</td>
            </tr>
        </tbody>
    </table>
</div>