<div class="table-wrap">
    <table class="confluenceTable">
        <tbody>
            <tr>
                <th class="confluenceTh">str</th>
                <th class="confluenceTh">int</th>
                <th class="confluenceTh">float</th>
            </tr>
            <tr>
                <td class="confluenceTd">one</td>
                <td class="confluenceTd">1</td>
                <td class="confluenceTd">1.01</td>
            </tr>
            <tr>
                <td class="confluenceTd">two</td>
                <td class="confluenceTd">2</td>
                <td class="confluenceTd">2.02</td>
            </tr>
            <tr>
                <td class="confluenceTd">three</td>
                <td class="confluenceTd">3</td>
                <td class="confluenceTd">3.03</td>
            </tr>
            <tr>
                <td class="confluenceTd">four</td>
                <td class="confluenceTd">4</td>
                <td class="confluenceTd">4.04</td>
            </tr>
        </tbody>
    </table>
</div>