<div class="table-wrap">
    <table class="confluenceTable">
        <tbody>
            <tr>
                <th class="confluenceTh">float</th>
                <th class="confluenceTh">int</th>
                <th class="confluenceTh">double</th>
                <th class="confluenceTh">long</th>
                <th class="confluenceTh">mixed</th>
                <th class="confluenceTh">ignore empty</th>
            </tr>
            <tr>
                <td class="confluenceTd">1.01</td>
                <td class="confluenceTd">1,001</td>
                <td class="confluenceTd">10,101.01</td>
                <td class="confluenceTd">101101101101101</td>
                <td class="confluenceTd">-18</td>
                <td class="confluenceTd"> </td>
            </tr>
            <tr>
                <td class="confluenceTd">2.02</td>
                <td class="confluenceTd">2,002</td>
                <td class="confluenceTd">20,202.02</td>
                <td class="confluenceTd">202202202202202</td>
                <td class="confluenceTd">13.5</td>
                <td class="confluenceTd"> 2</td>
            </tr>
            <tr>
                <td class="confluenceTd">3.03</td>
                <td class="confluenceTd">3,003</td>
                <td class="confluenceTd">30,303.03</td>
                <td class="confluenceTd">303303303303303</td>
                <td class="confluenceTd">+2.75</td>
                <td class="confluenceTd">3 </td><!-- here is a nbsp; -->
            </tr>
            <tr>
                <td class="confluenceTd">4.04</td>
                <td class="confluenceTd">4,004</td>
                <td class="confluenceTd">40,404.04</td>
                <td class="confluenceTd">404404404404404</td>
                <td class="confluenceTd">-14.5</td>
                <td class="confluenceTd"> </td><!-- here is a nbsp; -->
            </tr>
        </tbody>
    </table>
</div>