<div class="table-wrap">
    <table class="confluenceTable">
        <tbody>
            <tr>
                <th class="confluenceTh">info</th>
                <th class="confluenceTh">warning</th>
                <th class="confluenceTh">status</th>
            </tr>
            <tr>
                <td class="confluenceTd">
                    <div class="aui-message hint shadowed information-macro">
                        <span class="aui-icon icon-hint">Icon</span>

                        <div class="message-content">
                            <p>Info test</p>
                        </div>
                    </div>
                </td>
                <td class="confluenceTd">
                    <div class="aui-message problem shadowed information-macro">
                        <span class="aui-icon icon-problem">Icon</span>

                        <div class="message-content">
                            <p>Warning test</p>
                        </div>
                    </div>
                </td>
                <td class="confluenceTd">
                    <span class="status-macro aui-lozenge aui-lozenge-success">ERL.</span>
                </td>
            </tr>
            <tr>
                <td class="confluenceTd">
                    <span class="status-macro aui-lozenge aui-lozenge-current">INFO</span>
                </td>
                <td class="confluenceTd">
                    <span class="confluence-anchor-link" id="anchor-test"></span>
                </td>
                <td class="confluenceTd">no macro</td>
            </tr>
        </tbody>
    </table>
</div>
