<div class="table-wrap">
    <table class="confluenceTable">
        <tbody>
            <tr>
                <td class="confluenceTd">A</td>
                <td class="confluenceTd">1</td>
                <td class="confluenceTd">I</td>
            </tr>
            <tr>
                <td class="confluenceTd">B</td>
                <td class="confluenceTd">2</td>
                <td class="confluenceTd">II</td>
            </tr>
            <tr>
                <td class="confluenceTd">C</td>
                <td class="confluenceTd">3</td>
                <td class="confluenceTd">III</td>
            </tr>
        </tbody>
    </table>
</div>
