<div class="table-wrap">
    <table>
        <tbody>
            <tr>
                <th>int1</th>
                <th>int2</th>
                <th>int3</th>
            </tr>
            <tr>
                <td rowspan="3">1</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr>
                <td>5</td>
                <td>6</td>
            </tr>
            <tr>
                <td colspan="2">8</td>
            </tr>
        </tbody>
    </table>
</div>
