<div class="table-wrap">
    <table class="confluenceTable">
        <tbody>
            <tr>
                <th class="confluenceTh">int</th>
                <th class="confluenceTh">char</th>
                <th class="confluenceTh">?</th>
            </tr>
            <tr>
                <td class="confluenceTd">3</td>
                <td class="confluenceTd">a</td>
                <td class="confluenceTd">
                    <table class="confluenceTable">
                        <tbody>
                            <tr>
                                <th class="confluenceTh">a</th>
                                <th class="confluenceTh">b</th>
                            </tr>
                            <tr>
                                <td class="confluenceTd">1</td>
                                <td class="confluenceTd">2</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="confluenceTd">4</td>
                <td class="confluenceTd">c</td>
                <td class="confluenceTd">
                    <table class="confluenceTable">
                        <tbody>
                            <tr>
                                <th class="confluenceTh">c</th>
                                <th class="confluenceTh">d</th>
                            </tr>
                            <tr>
                                <td class="confluenceTd">3</td>
                                <td class="confluenceTd">4</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="confluenceTd">1</td>
                <td class="confluenceTd">b</td>
                <td class="confluenceTd">
                    <table class="confluenceTable">
                        <tbody>
                            <tr>
                                <th class="confluenceTh">e</th>
                                <th class="confluenceTh">f</th>
                            </tr>
                            <tr>
                                <td class="confluenceTd">5</td>
                                <td class="confluenceTd">6</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="confluenceTd">2</td>
                <td class="confluenceTd">d</td>
                <td class="confluenceTd">
                    <table class="confluenceTable">
                        <tbody>
                            <tr>
                                <th class="confluenceTh">g</th>
                                <th class="confluenceTh">h</th>
                            </tr>
                            <tr>
                                <td class="confluenceTd">7</td>
                                <td class="confluenceTd">8</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>